*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
}
.container{
    max-width: 1024px;
    width: 100%;
    margin: auto;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    background-color: orange;
    padding: 16px 0 0;
    border-bottom: 2px solid #000000;
    margin-bottom: 56px;
}
button, input{
    padding: 4px;
    border-radius: 4px;
    border: none;
}
.submenu{
    display: none;
    border: 1px solid rgb(0, 0, 0);
    position: absolute;
    left: 0;
    width: 300px;
    top: 100% ;
    background-color: white;
}
.menu > li{
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}
.clear{
    clear: both;
}
.menu li:hover .submenu{
    display: block;
}
.menu li:hover{
    border-color: red;
}
.submenu li{
    display: block;
    padding: 8px;
    background-color: orange;
}
.sobre{
    display: flex;
}
.title-sobre{
    margin-left: 32px;
}
.title-sobre h2{
    border-bottom: 2px solid orange;
}
.conteudo{
    display: grid;
    grid-template-columns: 70% 30%;
}
.sobre img{
    max-width: 100%;
}
.destaque{
    margin-bottom: 56px;
}
.destaque .produto  a{
    display: flex;
    font-size: 2em;
}
.destaque .produto img{
    margin-right: 8px;
}
section h2{
    margin-bottom: 32px;
}
.produtos{
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    column-gap: 1%;
    row-gap: 5%;
}
article p{
    margin-top: 8px;
}
.carrinho{
    background-color: orange;
    padding: 8px;
    margin-top: 8px;
}
footer{
    background-color: orange;
    padding: 16px;
    margin-top: 32px;
}
@media screen and (max-width: 767px){
    .conteudo{
        display: block;
    }
    header h1{
        margin-bottom: 4px;
    }
    .sobre{
        display: inline;
    }
    .title-sobre{
        margin-left: 0;
        height: 150%;
    }
    .container{
        max-width: 90%;
    }
    .destaque .produto a{
        display: block;
        font-size: 1em;
    }
    .destaque .produto img{
        margin-right: 0px;
    }
    .produtos{
        display: block; 
    }
    .produtos .produto{
        margin-bottom: 32px;
    }
    aside{
        padding-left: 0;
    }
    header div.container{
        flex-direction: column;
    }
    .submenu{
        display: block;
        background-color: white;
        position: relative;
        border: none;
        width: 100%;
    }
    .menu{
        width: 100%;
        display: none;
    }
    .menu > li{
        clear: both;
    }
    .submenu li{
        display: block;
        padding: 8px;
    }
    .btn-menu{
        display: flex;
        justify-content: center;
        margin-top: 16px;
        padding-bottom: 16px;
    }
    .btn-menu button{
        padding: 8px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .container{
        max-width: 90%;
    }
    .btn-menu{
        display: none;
    }
    .destaque .produto a{
        font-size: 1em;
    }
    .produtos{
        grid-template-columns: repeat(2, 49%);
        margin-bottom: 64px;
    }
}
@media screen  and (min-width: 1024px) {
    .btn-menu{
            display: none;
    }   
}
